.header__logo {
    max-width: 142px;
    fill: #FFFFFF;
    width: calc(103.74px + (((100vw - 320px) * 38.26) / 960));
    padding-left: calc(27px - (((100vw - 320px) * 27) / 960));
    transition: fill ease 0.5s;
}

.header__logo:hover {
    fill: #000;
}